services:
  app:
    build: .
    container_name: server
    ports:
      - "9999:9999"
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BULLMQIP=redis
      - BULLMQPORT=6379
      - DATABASE_URL=mongodb://mongodb:27017/template
      - MEILI_HOST=http://meilisearch:7700
    depends_on:
      - redis
      - meilisearch
      - mongodb
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: mongodb-server
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    command: redis-server --port 6379
    volumes:
      - redisdata:/data
    restart: unless-stopped

  # meilisearch
  meilisearch:
    image: getmeili/meilisearch:v1.2
    container_name: meilisearch-server
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: ${MEILI_API_KEY}
    volumes:
      - meilisearchdata:/data
    restart: unless-stopped

volumes:
  mongodata:
  redisdata:
  meilisearchdata:
