services:
  app:
    build: .
    container_name: server
    ports:
      - "9999:9999"
    env_file:
      - .env
    depends_on:
      - redis
      - meilisearch
    restart: unless-stopped

  redis:
    image: redis
    ports:
      # - "6379:6379"
      - "6389:6389"
    volumes:
      - redisdata:/data
    restart: unless-stopped

  # meilisearch
  meilisearch:
    image: getmeili/meilisearch:v1.2
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
    volumes:
      - meilisearchdata:/data
    restart: unless-stopped

volumes:
  redisdata:
  meilisearchdata:
