services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
  # meilisearch
  meilisearch:
    image: getmeili/meilisearch:v1.2
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: "30d8c593eec6a64468ba3df7ac3a5a40d21f9b8dfb46d197a3991dfdc802d8c8"
volumes:
  redisdata:
  meilisearchdata:
